# Ignore node modules directory
node_modules

# Ignore environment variables file
.env

# Ignore build output directory
.build/

# Ignore lock files
package-lock.json
pnpm-lock.yaml

# Ignore log files
debug.log

# Ignore Development database file
src/db/dev.db
